body {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    
    &.noscroll {
        overflow: hidden;
    }
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

a, a:visited {
    text-decoration: none;
}

.hide-mobile {
    @include breakpoint-down(md) {
      display: none;
    }
}
.hide-pc {
    @include breakpoint-up(lg) {
      display: none;
    }
}
