.header {
    position: relative;
    z-index: 99;
    border-top: solid 6px $redColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: $white;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {
        display: flex;
        justify-content: flex-end;

        &__social {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;

            @include breakpoint-down(md) {
                display: none;
            }
        }

        li {
            text-align: center;
            margin-left: 12px;
            width: 30px;
            height: 30px;
            border: solid 1px #999999;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                border-color: $redColor;
                a {
                    color: $redColor;
                }
            }
        }

        a {
            font-size: 2.6rem;
            color: #999999;
            
            i {
            line-height: 30px;
            }
        }
        
        &__btn {
            margin-left: 12px;
            width: 203px;
            height: 33px;
            text-align: center;
            background-color: $redColor;
            border-radius: 24px;
            color: $white;
            font-size: 1.8rem; 
            font-weight: 400;
            line-height: 33px;
            border: none;
            outline: none;

            @include breakpoint-down(md) {
                font-size: 1.6rem;
            }

            &:hover {
                background-color: #999999;
            }
        }
    }
}