.info {
    position: relative;
    width: 100%;
    margin-top: 260px;

    @include breakpoint-down(lg) {
        margin-top: 160px;
    }

    @include breakpoint-down(md) {
        margin-top: 120px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
    }
    &-content {
        position: relative;
        transform: translateY(-120px);
        margin: auto;
        z-index: 10;
        width: 100%;
        height: 442px;
        background-color: $white;
        box-shadow: 0 4px 21px 1px rgba(0,0,0,0.4);

        @include breakpoint-down(lg) {
            transform: translateY(-48px);
            height: 350px;
            margin-bottom: 60px;
        }

        @include breakpoint-down(md) {
            margin-bottom: 0;
        } 
    }

    &-img  {
            margin-top: -12%;
            padding: 0 20px;
            width: 100%;
            height: 565px;
            object-fit: cover;

            @include breakpoint-down(lg) {
                height: 400px;
                margin-top: -8%;
                padding: 0;
            }

            @include breakpoint-down(md) {
                display: none;
                margin-top: -18%;
            }
    }

    &-welcome {

        p {
        padding-top: 100px;
        text-align: center;
        font-size: $font-xlg;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 38px;
        color: $redColor;

        @include breakpoint-down(lg) {
            padding-top: 20px;
            padding-bottom: 12px;
            font-size: $font-lg;
            line-height: 32px;
        }

        @include breakpoint-down(sm) {
            font-size: 2.2rem;
            line-height: 28px;
        }

      
        b {
        font-size: $font-xlg;
        font-weight: bold;
        @include breakpoint-down(lg) {
            font-size: $font-lg;
        }

        @include breakpoint-down(sm) {
            font-size: 2.2rem;
        }
        }
        }

        span {
            font-family: Open Sans;
            font-size: 1.6rem;
            line-height: 22px;

            @include breakpoint-down(lg) {
                line-height: 15px;
            }
        }
    }

    &-introduce {
        position: relative;
        color: $white;
        z-index: 1;
        p {
            text-align: center;
            font-size: $font-xlg;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 43px;
            text-transform: uppercase;
            margin-bottom: 16px;

            @include breakpoint-down(md) {
                font-size: 3rem;
                
            }
        }

        span {
            font-family: Open Sans;
            font-size: $font-md;
            line-height: 25px;

            @include breakpoint-down(md) {
                font-size: 1.6rem;
                line-height: 20px;
            }
        }
    }

    &-list {
        position: relative;
        z-index: 1;
    }

    &-count {
        margin-top: 40px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;

        @include breakpoint-down(lg) {
            margin-top: 16px;
            margin-bottom: 32px;
        }
        p {
            width: 136px;
            margin: auto;
            font-size: $font-md;
            font-weight: 300;
            color: $white;
            line-height: 24px;
        }

        span {
            font-size: $font-lg;
            font-weight: 400;
        }

        &::after {
            position: absolute;
            margin: auto;
            content: "";
            left: 50%;
            bottom: -20%;
            transform: translateX(-50%);
            width: 126px;
            height: 1px;
            background-color: #c4c4c4;
        }
    }

    &-number {
        width: 136px;
        margin: auto;
        font-size: $font-xlg;
        font-weight: 700;
        line-height: 43px;
        color: $white;

        @include breakpoint-down(md) {
            font-size: 3.2rem;
        }
    }

    .background-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        bottom: 0;
    }
    
}