
.nav {
    position: sticky;
    z-index: 1000;
    background-color: #999999;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;

    &-bar {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 22px;
        z-index: 10;

        @include breakpoint-up(lg) {
            display: none;
        }
    }

    &-btn {
        border: none;
        background-color: #CF2030;
        padding: 8px;
        outline: none;

        i {
            font-size: 2.2rem;
            color: $white;
        }
    }

    &-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s linear;

        @include breakpoint-down(lg) {
            height: 0;
            display: block;
            background-color: #999999;
            text-align: center;
        }
        li {
            cursor: pointer;

            &:first-child {
                @include breakpoint-down(lg) {
                    margin-top: 8px;
                }
            }
            @include breakpoint-down(lg) {
                padding: 8px 0;
            }
            &:hover .menu-children{
                display: block;
            }
        }

        .menu--link {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px;
            text-transform: uppercase;
            color: $white;
    
            @include breakpoint-down(xl) {
                font-size: 1.6rem;
            }

            &:hover {
                color: $redColor;
                text-decoration: none;
            }

            &:hover i{
                color: $redColor;
            }  
        }

        .active {
            color: $redColor;
        }

        .active i{
            color: $redColor;
        }
    }
    &-active {
        @include breakpoint-down(lg) {
            height: auto;
        }
    }
}

.icon-home {
    margin-bottom: 16px;
    font-size: 2.6rem;
    color: $white;

    @include breakpoint-down(lg) {
        font-size: 2rem;
    }
}

.icon-down {
    position: relative;
    font-size: $font-md;
    top: -3px;
}

.menu-children {
    position: absolute;
    background-color: #999999;
    min-width: 180px;
    transform-origin: top;
    display: none;

    @include breakpoint-down(lg) {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 10px;

        @include breakpoint-down(lg) {
            padding: 0;
        }

        li {
            margin-bottom: 8px;
        }
    }

    &--link {
        font-family: Open sans;
        font-size: 1.6rem;
        line-height: 20px;
        color: $white;

        &:hover {
            color: $redColor;
        }
    }
}
