
.nav {
    position: sticky;
    z-index: 1000;
    background-color: #999999;
    top: -1px;
    padding: 14px 0;
    display: flex;
    align-items: center;

    @include breakpoint-up(lg) {
        height: 50px;
        padding: 0;
    }

    &-bar {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 22px;
        z-index: 10;

        @include breakpoint-up(lg) {
            display: none;
        }
    }

    &-btn {
        position: relative;
        border: none;
        background-color: #CF2030;
        padding: 0 12px;
        outline: none;
        border-radius: 4px;

        i {
            padding-top: 8px;
            font-size: 2.4rem;
            color: $white;
        }
    }

    &-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s linear;

        @include breakpoint-down(lg) {
            height: 0;
            display: block;
            background-color: #999999;
            text-align: left;
        }
        li {
            padding: 8px 0;
            cursor: pointer;

            &:first-child {
                margin-right: -10px;
            }
            
            .icon-down {
                position: relative;
                font-size: $font-md;
                top: -3px;
                color: $white;
            
                @include breakpoint-down(lg) {
                    left: 20px;
                }
            }
            &:hover .menu-children{
                transform: scaleY(1);
            }

            &:hover .menu--link{
                color: $redColor;
                text-decoration: none;
            }

            &:hover .icon-down {
                color: $redColor;
            } 
        }

        .menu--link {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
            color: $white;
            line-height: 22px;
    
            @include breakpoint-down(xl) {
                font-size: 1.6rem;
            } 
        }

        .active {
            color: $redColor;
        }

        .active i{
            color: $redColor;
        }
    }
    &-active {
        @include breakpoint-down(lg) {
            text-align: left;
            height: 100vh;
        }
    }
}

.icon-home {
    font-size: 2.6rem;
    padding-bottom: 12px;
    color: $white;

    @include breakpoint-down(lg) {
        padding-top: 20px;
        font-size: 2.2rem;
    }
}

.menu-children {
    position: absolute;
    background-color: #999999;
    min-width: 180px;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: all 0.2s linear;

    @include breakpoint-down(lg) {
        position: relative;
        transform: scaleY(1);
    }

    ul {
        list-style: none;
        padding: 10px;

        @include breakpoint-down(lg) {
            padding: 0;
        }

        li {    
            padding: 4px 0 8px 16px;

            @include breakpoint-down(lg) {
                padding: 2px 0 2px 16px;
            }
        }
    }

    &--link {
        font-family: Open sans;
        font-size: 1.6rem;
        line-height: 20px;
        color: $white;

        @include breakpoint-down(lg) {
            font-size: 1.7rem;
        }

        &:hover {
            color: $redColor;
        }
    }
}
