.page-content {
    margin-top: 48px;
    margin-bottom: 48px;

    .content-category {
        ul {
            list-style: none;
        }
    }

    .box-wrapper {
        padding: 16px 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        
        &:not(:last-child) {
            margin-bottom: 24px;
        }

        .category-sort {
            padding: 0 16px;
        }
    }

    .category-item {

        div {
            padding: 4px 0;
            background-color: #eee;
        }

        .item-list {
            transition: all 0.2s linear;
            display: none;

            li {
                &:first-child {
                    margin-top: 6px;
                }
            }
        }

        .show.item-list {
            display: block;
        }

        .category-icon-down {
            position: relative;
            transform: rotate(-90deg);
            font-size: 1.8rem;
            padding: 4px 8px;
            cursor: pointer;
            transition: all 0.2s linear;
        }

        .rotate.category-icon-down {
            transform: rotate(0);
        }

        .item--link {
            font-size: 1.6rem;
            color: #2b2b2b;
            line-height: 3.2rem;
            padding: 8px 32px 8px 36px;
        }

    }

    .category-item--title {
        padding: 0 16px;
        font-family: Open sans;
        font-size: 2rem;
        font-weight: 600;
        line-height: 36px;
        font-weight: 700;
        list-style: 36px;
        color: #2b2b2b;
    }

    .form-select {
        width: 100%;
        font-family: Open sans;
        font-size: 1.6rem;
        padding: 8px;
        border-radius: 12px;
    }

    option {
        font-size: 1.6rem;
        line-height: 20px;
    }

    

    label {
        display: block;
        font-size: 2rem;
        margin-bottom: 12px;
        font-weight: 600;
        line-height: 22px;
    }

    .post-item {
        position: relative;
        border-radius: 12px;
        margin-bottom: 32px;
        min-height: 360px;
        cursor: pointer;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        transition: all 0.2s linear;

        &:hover {
            transform: translateY(-8px);
        }
        .img-box {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 12px 12px 0 0;
            }
        }

        .date-box {
            position: absolute;
            background: $redColor;
            top: 47%;
            left: 4%;
            padding: 4px 4px;
            text-align: center;
            border-radius: 8px;
            color: #fff;
            font-family: Open sans;
            
            p  {
                font-weight: 700;
                font-size: 2rem;
                line-height: 20px;
            }

            span {
                font-size: 1.4rem;
                line-height: 20px;
            }
        }

        .text-box {
            padding: 24px 12px 24px 12px;
            p {
                margin-bottom: 12px;
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Open sans;
                color: #2b2b2b;
                line-height: 22px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                user-select: none;
                overflow: hidden;
                }

            span {
                font-size: 1.4rem;
                font-family: Open sans;
                color: #2b2b2b;
                line-height: 22px;
                font-family: Open sans;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                user-select: none;
                overflow: hidden;
            }
        }
    }

    .panigation {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            font-size: 1.6rem;

            li {
                margin: 0 6px;
                cursor: pointer;
                a {
                    padding: 4px 12px;
                    background-color: #eee;
                    font-size: 1.6rem;
                    line-height: 22px;
                    border-radius: 4px;

                    &:hover {
                        color: $white;
                        background-color: #2b2b2b;
                    }
                }
            }

            .active a {
                color: $white;
                background-color: $redColor;
            }
        }
    }
}