.shares {
    position: relative;
    text-align: center;
    margin-top: 136px;
    margin-bottom: 147px;

    @include breakpoint-down(lg) {
        margin-top: 120px;
    }
    &-background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 76%;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;

        @include breakpoint-down(lg) {
            height: 74%;
        }

        @include breakpoint-down(md) {
            height: 77%;
        }
    }

    &::after {
        position: absolute;
        z-index: -1;
        width: 100%;
        content: "";
        height: 76%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:  #242323BF;

        @include breakpoint-down(lg) {
            height: 74%;
        }
        @include breakpoint-down(md) {
            height: 77%;
        }
    }  

    &-wrapper {
        position: relative;
        margin: auto;
    }
    
    &-box {
        position: relative;
        @include breakpoint-down(lg) {
            margin-top: -89px;
        }
    }

    &-title {
        margin-top: 27px;
        margin-bottom: 44px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: $font-xlg;
        line-height: 43px;
        text-align: center;
        color: $redColor;

        @include breakpoint-down(md) {
            margin-bottom: 0;
        }
    }

    .shares-icon-prev,
    .shares-icon-next {
        z-index: 20;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        font-size: 2.9rem;
        line-height: 46px;
        font-weight: 700;
        width: 46px;
        height: 46px;
        color: #fff;
        background-color: transparent;
        border: solid 1px $redColor;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
    }

    .shares-icon-prev {
        left: 0;
    }

    .shares-icon-next {
        right: 0;
    }


    &-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 425px;
        height: 228px;
        margin: auto;
        margin-bottom: 90px;

        // &::after {
        //     position: absolute;
        //     content: "";
        //     top: 0;
        //     right: 0;
        //     left: 0;
        //     bottom: 0;
        //     background-color:  #242323BF;
        //     border-radius: 50%;
        // }

        @include breakpoint-down(lg) {
            transform: translateY(36%);
        }

        @include breakpoint-down(md) {
            position: relative;
            left: 50%;
            top: 200px;
            transform: translate(-50%,-50%);
        }

        
        img {
            width: 135px !important;
            height: 135px !important;
            border-radius: 50%;
        }
    }

    .shares-item {
            position: relative;
            bottom: 50px;
            margin-top: 30px;

            @include breakpoint-down(lg) {

            }
         p {
            font-family: Open sans;
            font-size: 2.6rem;
            color: $white;
            font-weight: 300;
            line-height: 41px;

            @include breakpoint-down(lg) {
                font-size: 2rem;
                line-height: 36px;
            }
        }

        span {
            font-family: Open sans;
            font-size: 2.6rem;
            color: $white;
            line-height: 41px;

            @include breakpoint-down(lg) {
                font-size: 2rem;
                line-height: 36px;
            }
        }

        .item-name {
            text-transform: uppercase;
            font-size: 2.9rem;
            line-height: 46px;
            font-weight: 700;
            color: $white;

            @include breakpoint-down(lg) {
                font-size: 2.2rem;
                line-height: 3.8rem;
            }
        }

        .item-description {
            font-family: Open sans;
            color: $white;
            font-weight: 300;
            font-style: italic;
            line-height: 30px;
            width: 80%;
            margin: auto;
            font-size: 2.2rem;

            @include breakpoint-down(lg) {
                font-size: 1.8rem;
                line-height: 24px;
            }

            .icon-quotes {
                font-size: 2.4rem;
            }
        }
    }
        .background-form {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            bottom: -147px;
            width: 100%;
            height: 205px;
            @include breakpoint-down(md) {
            height: 180px;
            bottom: -100px;
            }
            img {
                width: 100%;
                height: 100%;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 63%;
                background-color: #CF2030D4;

                @include breakpoint-down(md) {
                    width: 100%;
                }
            }

            .form-register-arena {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 28%;
                transform: translate(-50%, -50%);

                @include breakpoint-down(md) {
                    left: 50%;
                }
                
                p {
                    padding-bottom: 26px;
                    font-family: Open sans;
                    font-size: 2.6rem;
                    color: $white;
                    font-weight: 600;
                    line-height: 35px;
                    text-transform: uppercase;

                    @include breakpoint-down(md) {
                        padding-bottom: 16px;
                        font-size: 2rem;
                    }
                }

                .form-select {
                    padding-left: 12px;
                    width: 300px;
                    height: 52px;
                    font-family: Open Sans;
                    font-size: 2rem;
                    line-height: 25px;
                    color: #494646;
                    background-color: $white;
                    border-radius: 28px;
                    border: none;
                    margin:  auto;
                    cursor: pointer;

                    @include breakpoint-down(md) {
                        width: 200px;
                    }
                }
            }
        }
        // Css slick
        .slick-slide.slick-current.slick-active.slick-center {
            position: relative;
            z-index: 10;
        }
        
        .slick-slide.slick-current.slick-active.slick-center img {
            transform: translate(-37px, -50px);
            width: 225px !important;
            height: 225px !important;
            margin-top: 0 !important;

            @include breakpoint-down(md) {
                width: 135px !important;
                height: 135px !important;
                transform: translate(0, -50px);

            }
        }

        .slick-slide.slick-active {
            transform: translateY(50px)
        }
}