.story {
    position: relative;
    text-align: center;
    padding-top: 84px;

    @include breakpoint-down(md) {
        padding: 0;
    }

    &-title {
        font-size: $font-xlg;
        font-weight: 500;
        line-height: 43px;
        color: $redColor;
        text-transform: uppercase;

        @include breakpoint-down(md) {
            font-size: $font-lg;
            line-height: 36px;
        }
    }

    &-list {
        padding-top: 50px;
    }

    &-item {
        margin-bottom: 24px;
        cursor: pointer;
        img {
            width: 100%;
        }

        p {
            padding-top: 9px;
            font-family: Open Sans;
            font-size: 1.6rem;
            line-height: 22px;
            color: #464444;

            @include breakpoint-down(md) {
                font-size: $font-sm;
            }
        }
    }
}