.value {
    position: relative;
    margin-top: 89px;
    text-align: center;

    @include breakpoint-down(lg) {
        margin-top: 60px;
    }

    &-title {
        padding-bottom: 70px;
        font-size: $font-xlg;
        font-weight: 700;
        color: $redColor;
        text-transform: uppercase;

        @include breakpoint-down(md) {
            font-size: $font-lg;
        }
    }

    &-item {
        margin-bottom: 8px;
        span {
            margin-top: 20px;
            font-family: Open Sans;
            font-size: $font-md;
            color: $redColor;
            font-weight: 700;
            text-transform: uppercase;

            @include breakpoint-down(lg) {
                font-size: $font-sm;
            }
        }
    }

    &-icon {
        margin-bottom: 20px;
    }

    &-box {
        margin-top: 93px;
        margin-bottom: 70px;
        box-shadow: 0px 0px 23px -2px #00000040;
        @include breakpoint-down(lg) {
            margin-top: 60px;
        }
    }

    &-content {
        margin-top: 85px;
        padding-left: 53px;

        @include breakpoint-down(lg) {
            margin-top: 50px;
            margin-bottom: 32px;
        }

        p {
            padding-bottom: 30px;
            font-size: $font-xlg;
            color: $redColor;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            line-height: 43px;

            @include breakpoint-down(lg) {
                font-size: $font-lg;
                line-height: 38px;
            }
        }

        span {
            margin-left: 54px;
            font-family: Open Sans;
            font-size: $font-md;
            line-height: 25px;
            float: left;
            text-align: left;

            @include breakpoint-down(lg) {
                margin-left: 36px;
                margin-right: 8px;
                font-size: 1.6rem;
            }

        }
    }

    &-img {
        width: 100%;
        
        img {
            width: 100%;
        }
    }
}