* {
    font-size: 62.5%;
    font-family: 'Lato', Open sans;
}
// color
$redColor: #CF2030;
$white: #fff;
$blackColor: #000;
$darkColor: #464646;

// Font Sizes
$font-sm: 1.4rem; // 14px
$font-md: 1.8rem; // 18px
$font-lg: 2.4rem;
$font-xlg: 3.6rem;