.why {
    position: relative;
    text-align: center;
    margin-bottom: 64px;

    &-background {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 88%;
        object-fit: cover;

        @include breakpoint-down(lg) {
            height: 100%;
        }
    }

    &-title {
        padding-top: 80px;
        text-align: center;
        font-size: $font-xlg;
        font-weight: 500;
        line-height: 43px;
        color: $white;
        text-transform: uppercase;

        
        @include breakpoint-down(md) {
            padding-top: 50px;
            font-size: $font-lg;
        }
    }

    &-list {
        position: relative;
        bottom: -40px;

        @include breakpoint-down(md) {
            bottom: -24px;
        }
    }

    &-item {
        min-height: 477px;
        &:not(:last-child) {
            @include breakpoint-down(lg) {
                margin-bottom: 36px;
            }
        }
         img {
             cursor: pointer;
             width: 100%;
         }
    }

    &-content {
        padding: 20px 20px 0 20px;
        height: 251px;
        background-color: #fff;
        box-shadow: 0px 0px 23px -2px #00000040;

        p {
            cursor: pointer;
            font-family: Open Sans;
            width: 100%;
            min-height: 58px;
            font-weight: 600;
            font-size: 1.9rem;
            line-height: 26px;
            text-align: center;
            color: #000000;

            &:hover {
                color: $redColor;
            }
        }

        span {
            font-family: Open Sans;
            // font-weight: 300;
            font-size: 1.5rem;
            line-height: 20px;
        }
    }
}