@import "mixins";
@import "base";
@import "animations";
@import "variables";

@import "header";
@import "navbar";
@import "slider";
@import "info";
@import "value";
@import "why";
@import "shares";
@import "story";
@import "news";
@import "footer";

@import "box-header";
@import "page-content";

